<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lf.foreground.newsellhouse.mapper.NewHouseMapper">
  <resultMap id="houseStaffPicture" type="com.lf.background.house.house.domain.HouseStaffPicture">
    <id column="house_id" jdbcType="INTEGER" property="houseId" />
    <result column="house_method" jdbcType="INTEGER" property="houseMethod" />
    <result column="house_title" jdbcType="VARCHAR" property="houseTitle" />
    <result column="staff_area" jdbcType="REAL" property="staffArea" />
    <result column="house_name" jdbcType="VARCHAR" property="houseName" />
    <result column="house_addr" jdbcType="VARCHAR" property="houseAddr" />
    <result column="house_count" jdbcType="INTEGER" property="houseCount" />
    <result column="house_floor" jdbcType="INTEGER" property="houseFloor" />
    <result column="house_sum_floor" jdbcType="INTEGER" property="houseSumFloor" />
    <result column="house_case" jdbcType="INTEGER" property="houseCase" />
    <result column="house_build" jdbcType="INTEGER" property="houseBuild" />
    <result column="house_direction" jdbcType="VARCHAR" property="houseDirection" />
    <result column="house_region" jdbcType="VARCHAR" property="houseRegion" />
    <result column="house_rtype" jdbcType="INTEGER" property="houseRtype" />
    <result column="house_sell_price" jdbcType="DOUBLE" property="houseSellPrice" />
    <result column="house_developers" jdbcType="VARCHAR" property="houseDevelopers" />
    <result column="house_equity" jdbcType="VARCHAR" property="houseEquity" />
    <result column="house_configure" jdbcType="VARCHAR" property="houseConfigure" />
    <result column="house_lease_type" jdbcType="INTEGER" property="houseLeaseType" />
    <result column="house_lease_price" jdbcType="DOUBLE" property="houseLeasePrice" />
    <result column="house_status" jdbcType="INTEGER" property="houseStatus" />
    <result column="house_remark" jdbcType="VARCHAR" property="houseRemark" />
    <result column="house_create_time" jdbcType="TIMESTAMP" property="houseCreateTime" />
    <result column="house_update_time" jdbcType="TIMESTAMP" property="houseUpdateTime" />
    <result column="house_hstatus" jdbcType="INTEGER" property="houseHstatus" />
    <result column="house_about" jdbcType="VARCHAR" property="houseAbout" />
    <result column="staff_id" jdbcType="INTEGER" property="staffId" />
    <result column="staff_name" jdbcType="VARCHAR" property="staffName" />
    <collection property="pictureList" ofType="picture">
      <id column="pic_id" jdbcType="INTEGER" property="picId" />
      <result column="pic_path" jdbcType="VARCHAR" property="picPath" />
      <result column="pic_type" jdbcType="INTEGER" property="picType" />
      <result column="pic_create_time" jdbcType="TIMESTAMP" property="picCreateTime" />
      <result column="pic_update_time" jdbcType="TIMESTAMP" property="picUpdateTime" />
      <result column="pic_status" jdbcType="INTEGER" property="picStatus" />
    </collection>
  </resultMap>
    <select id="queryList" resultType="houseShow">
      SELECT h.house_id,h.house_title,h.staff_area,h.house_name,h.house_sell_price,h.house_count,h.house_addr,h.house_case,h.house_create_time,h.house_floor,h.house_sum_floor,p.pic_path,s.staff_name
      FROM lf_house h LEFT JOIN lf_staff s
      ON h.staff_id = s.staff_id
      LEFT JOIN lf_picture p
      ON h.house_id = p.house_id
      WHERE
      1=1
      <if test="sea.houseSellPriceB!=null">
        and h.house_sell_price <![CDATA[>=]]> #{sea.houseSellPriceB}
      </if>
      <if test="sea.houseSellPriceE!=null">
        and h.house_sell_price <![CDATA[<=]]> #{sea.houseSellPriceE}
      </if>
      <if test="sea.staffAreaS!=null">
        and h.staff_area <![CDATA[>=]]>  #{sea.staffAreaS}
      </if>
      <if test="sea.staffAreaB!=null">
        and h.staff_area <![CDATA[<=]]>  #{sea.staffAreaB}
      </if>
      <if test="sea.houseCase!=null">
        and h.house_case = #{sea.houseCase}
      </if>
      <if test="sea.houseCount!=null">
        and h.house_count = #{sea.houseCount}
      </if>
      and h.house_hstatus = 1
      and h.house_method = 2
      and h.house_rtype = 1
      and p.pic_type = 0
      and house_status = 0
      <if test="sort == null or sort == ''">
        order by h.house_id DESC
      </if>
      <if test="sort != null and sort != ''">
        order by ${sort} ${order}
      </if>
  </select>
  
  <select id="selectNewAll" resultMap="houseStaffPicture">
      SELECT h.house_id,h.house_title,h.staff_area,h.house_name,h.house_sell_price,h.house_count,h.house_addr,h.house_case,h.house_create_time,h.house_floor,h.house_sum_floor,h.house_developers,house_direction,house_remark,p.pic_path
      FROM lf_house h
      LEFT JOIN lf_picture p
      ON h.house_id = p.house_id
      WHERE h.house_id = #{houseId}
  </select>

  <select id="buyHouse" resultType="house">
      SELECT house_id,house_title,house_equity,staff_area,house_about,house_build,house_name,house_sell_price,house_count,house_addr,house_case,house_create_time,house_floor,house_sum_floor,house_developers,house_direction,house_remark
        FROM lf_house
        WHERE house_id = #{houseId}
  </select>
</mapper>
